{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full" id="route-view-article-list">
        <div class="container-full route-header article-route-header">
            <div class="container article-header-container">
                article head
            </div>
        </div>
        {% verbatim %}
        <div class="container article-list-container" id="article-list">
            <div class="search-article">
                <div class="info">Loaded {{ models.length }} from total {{ total }} articles</div>
                <div class="form">
					<input v-on:keyup.enter="search()" v-model="searchParams.title" placeholder="Search" type="text">
					<button v-on:click="search()">SEARCH</button>
                </div>
            </div>
            <article v-for="(article, key) in models" v-bind:key="key" class="article">
                <a v-bind:href="'/article/read/' + article.title_seo">
                  <h2 class="title">{{ article.title }}</h2>
                </a>
                <p class="text">{{ article.teaser }}</p>
            </article>
            <div v-if="loading" class="loading-articles">
              <i v-if="loading" class="fas fa-4x fa-circle-notch fa-spin"></i>
			</div>
        </div>
        {% endverbatim %}
    </div>

    <script type="text/javascript">

		(function($, Vue){

			var ARTICLES = {% autoescape false %}{{ articles }}{% endautoescape %};
			var LIMIT = {% autoescape false %}{{ limit }}{% endautoescape %};

			var EventBus = new Vue();

			var app = new Vue({
				el: '#article-list',
				data: function () {
					return {
						models: ARTICLES.models,
						total: parseInt(ARTICLES.total),
						limit: parseInt(LIMIT),
						startAt: parseInt(LIMIT),
					  	loading: false,
                        searchParams : {
							title: null
                        }
					}
				},
				methods: {
					bottomVisible : function()
                    {
	                    var spaceBelow = $(window).height() - $('#article-list')[0].getBoundingClientRect().bottom;
	                    return spaceBelow > -100;
					},
                    loadArticles: function()
                    {
	                    return $.getJSON("/article/loadInfinity/", { search: this.searchParams, startAt: this.startAt })
							.then(function(response){
								this.total = parseInt(response.total);
								return response.models;
							}
							.bind(this));
                    },
					loadMore : function()
					{
						return this.loadArticles().then(function(articles)
						{
							$.each(articles, function(i,article){ this.models.push(article); }.bind(this));
							this.startAt += this.limit;
						}
						.bind(this))
					},
					search : function()
					{
						this.startAt = 0;
						this.total = 0;
						this.loadArticles().then(function(articles)
						{
							this.models = articles;
						}
						.bind(this))
					}
				},
				created: function()
                {
					window.addEventListener('scroll', function()
					{
						if(this.bottomVisible() === true && this.loading === false)
						{
							if(this.total > this.models.length)
							{
								this.loading = true;
								this.loadMore().then(function()
								{
									this.loading = false;
								}
								.bind(this));
							}
                        }
					}.bind(this));
				}
			});

		}(jQuery, Vue));
    </script>

{% endblock %}