{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full top-sponsor-row">
        {% include 'widget.sponsor.inline.html.twig'
            with {
            items: {
                'corsair'      : 'https://cdn.worldvectorlogo.com/logos/corsair-2.svg',
                'razer'        : 'https://seeklogo.com/images/R/razer-logo-B4E375B409-seeklogo.com.png',
                'steelseries'  : 'http://cerebral-overload.com/wp-content/uploads/2017/11/Steelseries-Logo.png',
            },
            limit: null,
            class: 'widget-sponsor-top'
        }
            only
        %}
    </div>
    <div class="container-full">
        <div class="container">
            <article class="widget-featured-news">
                <div class="box article-hl-box box-shadow box-background box-rect">
                    <div
                        class="box-head-image"
                        style="background-image: url({{ articles.hl[0].headline_image }})"></div>

                    <div class="box-body">
                        <h1 class="box-title">{{ articles.hl[0].title }}</h1>
                        <p>{{ articles.hl[0].teaser }}</p>
                    </div>
                </div>
                {% if articles.hl[1] %}
                <div class="box article-hl-box box-shadow box-background box-square">
                    <div
                    class="box-head-image"
                    style="background-image: url({{ articles.hl[1].headline_image }})"></div>

                    <div class="box-body">
                        <h2 class="box-title">{{ articles.hl[1].title }}</h2>
                        <p>{{ articles.hl[1].teaser }}</p>
                    </div>
                </div>
                {% endif %}
            </article>
        </div>
    </div>
    <div class="container-full" style="background: black">
        <div class="container hp-second-row">
            <article class="widget-last-news">
                {% for lastArticle in articles.lt %}

                    <div class="box article-lt-box box-shadow box-background box-rect">
                        <div class="box-body">
                            <h1 class="box-title">{{ lastArticle.title }}</h1>
                            <p>{{ lastArticle.teaser }}</p>
                        </div>
                    </div>

                {% endfor %}
            </article>
            <div class="box featured-content-box box-shadow box-background box-square">
                <div class="box-body">

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <article class="widget-featured-team">
            {% for sk, squad in squads.getModels() %}
                {{ squad.getName() }}
                <div>
                    {% for mk, member in squad.getMembers() %}
                        <div>
                            {{ member.getUserId() }}
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </article>
    </div>
{% endblock %}