{% extends 'block.full.html.twig' %}

{% block content %}


<div class="container-full" id="route-view-product-view">
    <div class="container product-view-container" id="product-view">
        <div class="product">
            <div class="product-gallery">
                <div class="photos" id="product-image-mosaic" v-on:click="gallery.show = true">
                    {% for image in product.getImages() %}
                        <i data-src="{{ image.requestImageUrl() }}"></i>
                    {% endfor %}
                </div>
            </div>
			{%  verbatim %}
            <div class="product-desc">
                <div class="name">{{ product.name }}</div>
                <div class="price">{{ product.price }}{{ product.currency }}</div>
                <div class="stock">{{ product.in_stock }} left in stock</div>
                <div class="description" v-if="product.desc"><p>{{ product.desc }}</p></div>
                <div class="buy">
                    <div v-on:click="form.show = !form.show" class="button button-primary buy-button">BUY NOW!</div>
                </div>
                <div class="order-details" v-show="form.show">
                    <form class="paypal" action="paypal/paymentRequest" method="post" id="paypal_form" target="_blank">
                        <input type="hidden" name="cmd" value="_xclick" />
                        <input type="hidden" name="no_note" value="1" />
                        <input type="hidden" name="item_name" value="{{ product.name }}" v-bind:value="product.name" />
                        <input type="hidden" name="amount" value="{{ product.price }}" v-bind:value="product.price" />
                        <input type="hidden" name="currency_code" value="{{ product.currency }}" v-bind:value="product.currency" />
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" />
                        <input type="hidden" name="first_name" value="Foo"  />
                        <input type="hidden" name="last_name" value="Bar"  />
                        <input type="hidden" name="item_number" value="{{ product.id }}" v-bind:value="product.id"/>
                        <div class="order-summary">
                            <div class="input-field">
                                <input v-on:keydown.enter.prevent="" type="number" name="quantity" value="1" v-model="form.quantity"/>
                            </div>
                         
                            <span class="total">
                                {{ product.price * form.quantity }} {{ product.currency }}
                            </span>
                            
                        </div>
                        <div class="checkout-area">
                            <button class="button button-primary checkout-button" v-on:click.prevent="submitForm" v-bind:disabled="form.lock">
                                <i class="fab fa-paypal" style="font-weight: normal !important;"></i> PAYPAL CHECKOUT
                            </button>
                        </div>
                        <input type="hidden" name="token" value="{{ token }}">
                    </form>
                </div>
            </div>
			{%  endverbatim %}
        </div>
		
        {% verbatim %}
        <modal v-if="gallery.show" class="gallery-modal" v-on:close="gallery.show = false" v-bind:loading="null" v-bind:loading-message="null" id="modal-product-gallery">
            <div slot="header">
                <h2>{{ product.name }}</h2>
            </div>
            <div slot="body">
              <div class="gallery-holder">
                  <div class="currentImageHolder">
                    <div class="currentImage"
                      v-show="gallery.currentImage == key"
                      v-for="(image, key) in gallery.images"
                      v-bind:style="{ 'background-image': 'url(' + image + ')' }"></div>
                  </div>
              </div>
            </div>
            <div slot="footer" class="thumb-slide">
			  <div class="thumbs" id="thumbs">
			    <div id="thumbsheader">THHHH</div>
				  <div
					class="thumb"
					v-for="(image, key) in gallery.images"
					v-on:click="gallery.currentImage = key"
					v-bind:class="[gallery.currentImage == key ? 'active' : '']"
					v-bind:style="{ 'background-image': 'url(' + image + ')' }">foo</div>
			  </div>
			</div>
        </modal>
        {% endverbatim %}
    </div>
	
	<div class="container product-comments-container" id="product-comments">
		{% include 'widget.comments.html.twig' with { comments : comments, model : 'product' , model_id : product.getId() } %}
	</div>
</div>

<script>

	
</script>

{% include 'vue.component.modal.html.twig' with { width: '1004px' } %}

<script>

    $(document).ready(function(){

        (function($, Vue){

	        var __PRODUCT__ = {% autoescape false %}{{ product.getFormatted()|json_encode }}{% endautoescape %};
	        var __IMAGES__ = {% autoescape false %}{{ product.getImageCollection().getUrlArray()|json_encode }}{% endautoescape %};

        	new Vue({
              el: "#product-view",
			  components: ['comments'],
              data: function(){
              	return {
                    product: __PRODUCT__,
                    gallery: {
                    	currentImage : 0,
                        show : false,
	                    images : [],
                    },
                    form: {
                    	show : false,
	                    lock : false,
                        quantity: 1
                    }
                }
              },
              methods : {
	            submitForm: function(e)
                {
                	if(this.form.lock) return e.preventDefault();
	                $('#paypal_form').submit();
                },
              },
              watch: {
              	'form.quantity': function(val)
                {
	                this.form.lock = function(val)
	                {
                        return (typeof val === 'undefined' || val === null || val === '');
	                }
		            .call(this, val);

	                if(parseInt(val) === 0) this.form.quantity = 1;
                },
              },
              created : function()
              {
	              this.gallery.images = $.map(__IMAGES__, function(value, index) {
		              return value;
	              });
              },
              mounted: function()
              {
              	var $container = $(this.$el).find('#product-image-mosaic');

              	var images = $.map(__IMAGES__, function(value, index) {
		           return value;
	            });

	            initPhotos($container , images);
              }
            });

        }(jQuery, Vue))

    });

</script>

{% endblock %}
