{% extends 'block.full.html.twig' %}

{% block content %}
<div class="container-full" id="route-view-product-view">
    <div class="container product-view-container" id="product-view">
        <div class="product">
            <div class="product-gallery">
                <div class="photos" id="product-image-mosaic">
                    {% for image in product.getImages() %}
                        <i data-src="{{ image.requestImageUrl() }}"></i>
                    {% endfor %}
                </div>
            </div>
            <div class="product-desc">
                <div class="name">{{ product.name }}</div>
                <div class="price">{{ product.price }}{{ product.currency }}</div>
                <div class="stock">{{ product.in_stock }} left in stock</div>
                <div class="description" v-if="product.desc"><p>{{ product.desc }}</p></div>
                <div class="buy">
                    <div v-on:click="form.show = !form.show" class="button button-primary buy-button">BUY NOW!</div>
                </div>
                <div class="order-details" v-show="form.show">
                    <form class="paypal" action="paypal/paymentRequest" method="post" id="paypal_form" target="_blank">
                        <input type="hidden" name="cmd" value="_xclick" />
                        <input type="hidden" name="no_note" value="1" />
                        <input type="hidden" name="item_name" value="{{ product.name }}" v-bind:value="product.name" />
                        <input type="hidden" name="amount" value="{{ product.price }}" v-bind:value="product.price" />
                        <input type="hidden" name="currency_code" value="{{ product.currency }}" v-bind:value="product.currency" />
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" />
                        <input type="hidden" name="first_name" value="Foo"  />
                        <input type="hidden" name="last_name" value="Bar"  />
                        <input type="hidden" name="item_number" value="{{ product.id }}" v-bind:value="product.id"/>
                        <div class="order-summary">
                            <div class="input-field">
                                <input v-on:keydown.enter.prevent="" type="number" name="quantity" value="1" v-model="form.quantity"/>
                            </div>
                            {% verbatim %}
                            <span class="total">
                                {{ product.price * form.quantity }} {{ product.currency }}
                            </span>
                            {% endverbatim %}
                        </div>
                        <div class="checkout-area">
                            <button class="button button-primary checkout-button" v-on:click.prevent="submitForm" v-bind:disabled="form.lock">
                                <i class="fab fa-paypal" style="font-weight: normal !important;"></i> PAYPAL CHECKOUT
                            </button>
                        </div>
                        <input type="hidden" name="token" value="{{ token }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){

        (function($, Vue){

	        var __PRODUCT__ = {% autoescape false %}{{ product.getFormatted()|json_encode }}{% endautoescape %};

        	new Vue({
              el: "#product-view",
              data: function(){
              	return {
                    product: __PRODUCT__,
                    form: {
                    	show : false,
	                    lock: false,
                        quantity: 1
                    }
                }
              },
              methods : {
	            submitForm: function(e)
                {
                	if(this.form.lock) return e.preventDefault();
	                $('#paypal_form').submit();
                }
              },
              watch: {
              	'form.quantity': function(val)
                {
	                this.form.lock = function(val)
	                {
                        return (typeof val === 'undefined' || val === null || val === '');
	                }
		            .call(this, val);

	                if(parseInt(val) === 0) this.form.quantity = 1;
                },
              },
              mounted: function(){
	              initPhotos(
	              	$(this.$el).find('#product-image-mosaic')
                  );
              }
            });

        }(jQuery, Vue))

    });

</script>

{% endblock %}
