{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full top-sponsor-row">
        {% include 'widget.sponsor.inline.html.twig'
            with {
            items: {
                'corsair'      : 'https://cdn.worldvectorlogo.com/logos/corsair-2.svg',
                'razer'        : 'https://seeklogo.com/images/R/razer-logo-B4E375B409-seeklogo.com.png',
                'steelseries'  : 'http://cerebral-overload.com/wp-content/uploads/2017/11/Steelseries-Logo.png',
            },
            limit: null,
            class: 'widget-sponsor-top'
        }
            only
        %}
    </div>
    <div class="container-full">
        <div class="container">
            <article class="widget-featured-news">
                <div class="box article-hl-box box-shadow box-background box-rect">
                    <div
                        class="box-head-image"
                        style="background-image: url({{ articles.hl[0].headline_image }})"></div>

                    <div class="box-body">
                        <h1 class="box-title">{{ articles.hl[0].title }}</h1>
                        <p>{{ articles.hl[0].teaser }}</p>
                    </div>
                </div>
                {% if articles.hl[1] %}
                <div class="box article-hl-box box-shadow box-background box-square">
                    <div
                    class="box-head-image"
                    style="background-image: url({{ articles.hl[1].headline_image }})"></div>

                    <div class="box-body">
                        <h2 class="box-title">{{ articles.hl[1].title }}</h2>
                        <p>{{ articles.hl[1].teaser }}</p>
                    </div>
                </div>
                {% endif %}
            </article>
        </div>
    </div>
    <div class="container-full" style="background: black">
        <div class="container hp-second-row">
            <article class="widget-last-news">
                {% for lastArticle in articles.lt %}

                    <div class="box article-lt-box box-shadow box-background box-rect">
                        <div class="box-body">
                            <h1 class="box-title">{{ lastArticle.title }}</h1>
                            <p>{{ lastArticle.teaser }}</p>
                        </div>
                    </div>

                {% endfor %}
            </article>
            <div class="box featured-content-box box-shadow box-background box-square">
                <div class="box-body">

                </div>
            </div>
        </div>
    </div>

    <div class="container-full">
        <div class="container match-event-container">
            <div class="widget-group">
                <div class="widget top-match">
                    <div class="widget-title">
                        <h2>TOP MATCH</h2>
                    </div>
                    {% set tm = topMatches.first() %}
                    <div class="widget-body">
                        <div class="match-info">
                            {{ tm.getEvent().getName() }}
                            {{ tm.getDate() }}
                            {{ tm.getGame().getName() }}
                        </div>
                        <div class="result-holder">
                            <div class="team-logo-holder">
                                <div class="team-logo" style="background-image: url({{ tm.getSquad().requestLogo() }})"></div>
                            </div>
                            <div class="result">
                                <span class="score-num">{{ tm.formatTotalHomeScore() }}</span>
                                <span class="spacer">-</span>
                                <span class="score-num">{{ tm.formatTotalEnemyScore() }}</span>
                            </div>
                            <div class="team-logo-holder">
                                <div class="team-logo" style="background-image: url({{ tm.getEnemyTeam().requestLogo() }})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget last-matches">
                    <div class="widget-title">
                        <h2>LAST MATCHES</h2>
                    </div>
                    <div class="widget-body">
                        <ul>
                            {% for mk, match in matches.getModels() %}
                                <li>
                                    <span class="game">{{ match.getGame().getNameShort() }}</span>
                                    <span class="team">
                                        <span class="vs">vs.</span>
                                        <span class="enemy-name">{{ match.getEnemyTeam().getName() }}</span>
                                    </span>
                                    <span class="score">
                                        <span class="score-home">{{ match.formatTotalHomeScore() }}</span>
                                        <span class="sep-char">-</span>
                                        <span class="score-enemy">{{ match.formatTotalEnemyScore() }}</span>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="widget event-list">
                    <div class="widget-title">
                        <h2>EVENTS</h2>
                    </div>
                    <div class="widget-body">
                        <ul class="widget-body">

                            {% for ek, event in ltEvents.getModels() %}
                                <li>
                                    <span class="name">{{ event.getName()}}</span>
                                    <span class="date">{{ event.getStartDate()|date('d M Y')}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-full" style="background: black">
    <div class="container">
        <article class="widget-featured-team">
            {% for sk, squad in squads.getModels() %}
                {{ squad.getName() }}
                <div>
                    {% for mk, member in squad.getMembers() %}
                        <div>
                            {{ member.getUserId() }}
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </article>
    </div>
    </div>
{% endblock %}