{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full route-container" id="route-view-partner-list">
    <div class="container-full route-header" style="background-image: url(static/images/route_header.jpg)">
        <span><h1 class="title bg-text uc-text">PARTNERS</h1></span>
    </div>
    <div class="container partner-list-container" id="partner-list">
        {% for pk, partner in partners %}
            <article class="partner bg-light box-shadow-1 round-2 mar-btm-default">

                <div class="logo-holder">
                    <a target="_blank" href="{{ partner.getWebsiteUrl() }}" class="logo bg-centered bg-contain" style="display: block; background-image: url({{ partner.requestLogo() }})"></a>
                </div>

                <div class="body">
                    <h1 class="title"><a href="{{ partner.getWebsiteUrl() }}" class="name uc-text a-primary">{{ partner.getName() }}</a></h1>
                    <p data-desc-length="{{  partner.getDescription()|length }}" class="desc paragraph para-big">
                        {{ partner.getDescription() }}
                    </p>
                    <a target="_blank" href="{{ partner.getWebsiteUrl() }}" class="more-button">WEBSITE</a>
                </div>

            </article>
        {% endfor %}
    </div>
</div>

<script>
/*
    $(document).ready(function(){

        (function($){

            var $button = $('.partner .read-more');

            function showHideButton($button)
            {
	            $button.each(function(i, el)
	            {

		            var $p = $(el).parent().find('p.desc');
		            var $b = $(el).parent().find('.read-more');

		            if ($p[0].scrollHeight >  $p.innerHeight())
		            {
			            $b.show();
		            }
		            else
		            {
			            $b.hide();
		            }
	            });
            }

            showHideButton($button);

            $(window).resize(function(){ showHideButton($button); });

	        $button.on('click', function(event)
            {
            	$(event.target).parent().find('.desc').toggleClass('ellipsis', 4000);

	            $(event.target).text($(event.target).text().toLowerCase() === 'more' ? 'less' : 'more');

            });

        }(jQuery));

    })
*/
</script>

{% endblock %}