{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full top-sponsors-container-full">
        {% include 'widget.sponsor.inline.html.twig'
            with {
                collection: partnersTop,
                limit: 4,
                class: 'widget-sponsor-top'
            }
            only
        %}
    </div>
    <div class="container-full headline-container-full">
        <section class="container headline-container">
            {% include 'widget.top.articles.html.twig' with { articles : articles.hl } %}
        </section>
    </div>
    <div class="container-full article-container-full">
        <section class="container article-container">
            <div class="home-route-section-header">
                ARTICLES
            </div>
            <div class="flex-box">
                {% for lastArticle in articles.lt %}
                <div class="fbi article-item">
                    <div class="body">
                        <h2 class="title">{{ lastArticle.title }}</h2>
                        <p class="teaser">{{ lastArticle.teaser }}</p>
                        <div class="footer">
                            <a class="more-button uc-text" href="/article/read/{{ lastArticle.title }}">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if featuredItem %}
                <div class="fbi fbi-tall featured-content">
                    <div class="body">
                        <div class="image" style="background-image: url({{ featuredItem.image }})"></div>
                        <div class="content">
                            <h2 class="title uc-text" style="color: black">{{ featuredItem.name }}</h2>
                            <div class="info">
                                <span class="price">{{ featuredItem.teaser }}</span> {{ featuredItem.button_next|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
    <div class="container-full match-container-full">
        <div class="home-route-section-header">
            ACTIVITY
        </div>
        <section class="container match-container">
            <div class="flex-box">
                <div class="fbi fbi-tall widget widget-top-match">
                    <div class="widget-title">
                        <h2>TOP MATCH</h2>
                    </div>
                    {% set tm = topMatches.first() %}
                    <div class="widget-body">
                        <div class="result-holder">
                            <div class="team-logo-holder">
                                <div class="team-logo" style="background-image: url({{ tm.getSquad().requestLogo() }})"></div>
                            </div>
                            <div class="result">
                                <span class="score-num">{{ tm.formatTotalHomeScore() }}</span>
                                <span class="spacer">-</span>
                                <span class="score-num">{{ tm.formatTotalEnemyScore() }}</span>
                            </div>
                            <div class="team-logo-holder">
                                <div class="team-logo" style="background-image: url({{ tm.getEnemyTeam().requestLogo() }})"></div>
                            </div>
                        </div>
                        <ul>
                            {% for match in topMatches.getModels()|slice(0) %}
                                <li>
                                    <span class="game">{{ match.getGame().getNameShort() }}</span>
                                    <span class="team">
                                        <span class="vs">vs.</span>
                                        <span class="enemy-name">{{ match.getEnemyTeam().getName() }}</span>
                                    </span>
                                    <span class="score">
                                        <span class="score-home">{{ match.formatTotalHomeScore() }}</span>
                                        <span class="sep-char">-</span>
                                        <span class="score-enemy">{{ match.formatTotalEnemyScore() }}</span>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="match-info" style="display: none">
                            <h2 class="event-name">{{ tm.getEvent().getName() }}</h2>
                            <span class="date"></span>
                            <span class="game">{{ tm.getGame().getName() }}</span>
                        </div>
                        <div class="footer">
                            <a class="more-button uc-text" href="/matches">Show More</a>
                        </div>
                    </div>
                </div>
                <div class="fbi fbi-tall widget  widget-last-matches">
                    <div class="widget-title">
                        <h2>MATCHES</h2>
                    </div>
                    <div class="widget-body">
                        <ul>
                            {% for mk, match in matches.getModels() %}
                                <li>
                                    <span class="game">{{ match.getGame().getNameShort() }}</span>
                                    <span class="team">
                                        <span class="vs">vs.</span>
                                        <span class="enemy-name">{{ match.getEnemyTeam().getName() }}</span>
                                    </span>
                                    <span class="score">
                                        <span class="score-home">{{ match.formatTotalHomeScore() }}</span>
                                        <span class="sep-char">-</span>
                                        <span class="score-enemy">{{ match.formatTotalEnemyScore() }}</span>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="footer">
                            <a class="more-button uc-text" href="/matches">Show More</a>
                        </div>
                    </div>
                </div>
                <div class="fbi fbi-tall widget widget-event-list">
                    <div class="widget-title">
                        <h2>EVENTS</h2>
                    </div>
                    <div class="widget-body">
                        <ul>
                            {% for ek, event in ltEvents.getModels() %}
                                <li>
                                    <span class="event-name">{{ event.getName()}}</span>
                                    <span class="event-date">{{ event.getStartDate()|date('d M Y')}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="footer">
                            <a class="more-button uc-text" href="/events">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-full squad-container-full">
        <div class="home-route-section-header">
            MEET AVENUE
        </div>
        <section class="container squad-container">
            {% set squad = squads.first() %}
            <div class="squad" style="background-image: url({{ squad.requestHomeWallpaper() }})">
                <div class="squad-game" >
                    <a href="/squad/{{ squad.getName() }}"><h1>{{ squad.getName() }}</h1></a>
                </div>
                <div class="players">
                    {% for pk, member in squad.getMembers() %}
                        <div class="player" style="background-image: url({{ member.requestHomeAvatar() }})">
                            <a href="/profile/{{ member.getUser().getUserName() }}" class="nameplate">{{ member.formatName() }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
