{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full route-container" id="route-view-partner-list">
    <div class="container-full route-header partner-list-route-header">
        <div class="body">
            <div class="container partner-list-header-container">
                <h2 class="title">OUR PARTNERS</h2>
            </div>
        </div>
        <div class="bg-image" style="background-image: url(static/images/route_header.jpg)"></div>
    </div>
    <div class="container partner-list-container" id="partner-list">
        {% for pk, partner in partners %}
            <article class="partner">
                <div class="logo-holder">
                    <a href="{{ partner.getWebsiteUrl() }}" class="logo" style="display: block; background-image: url({{ partner.requestLogo() }})"></a>
                </div>
                <div class="body">
                    <a href="{{ partner.getWebsiteUrl() }}" class="name">{{ partner.getName() }}</a>
                    <p data-desc-length="{{  partner.getDescription()|length }}" class="desc ellipsis">
                        {{ partner.getDescription() }}
                    </p>
                    <button style="display: none;" class="button button-primary button-medium read-more">More</button>
                </div>
            </article>
        {% endfor %}
    </div>
</div>

<script>

    $(document).ready(function(){

        (function($){

            var $button = $('.partner .read-more');

            function showHideButton($button)
            {
	            $button.each(function(i, el)
	            {

		            var $p = $(el).parent().find('p.desc');
		            var $b = $(el).parent().find('.read-more');

		            if ($p[0].scrollHeight >  $p.innerHeight())
		            {
			            $b.show();
		            }
		            else
		            {
			            $b.hide();
		            }
	            });
            }

            showHideButton($button);

            $(window).resize(function(){ showHideButton($button); });

	        $button.on('click', function(event)
            {
            	$(event.target).parent().find('.desc').toggleClass('ellipsis', 4000);

	            $(event.target).text($(event.target).text().toLowerCase() === 'more' ? 'less' : 'more');

            });

        }(jQuery));

    })

</script>

{% endblock %}