{% extends 'block.full.html.twig' %}

{% block content %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="container">
        {% verbatim %}
        <div id="auth-area">
            <div class="wrap">
                <div class="form-status-overlay" v-show="status.loading">
                     <div class="status-wrap">
                        <i class="status-loading-spinner fas fa-circle-notch fa-spin"></i>
                        <div class="status-info">{{ status.info }}</div>
                     </div>
                </div>
                <div class="form-tabs" v-bind:class="{ 'loading' : status.loading }">
                    <div class="form-tab login-form-tab" v-show="status.tab === 1">
                        <form class="login-form" ref="login" method="post" accept-charset="UTF-8">
                            <h1 class="form-title">Login</h1>
                            <div class="input-field">
                                <input
                                    placeholder="Email"
                                    type="email"
                                    name="email"
                                    autocomplete="on"
                                    v-model="forms.login.fields.email"
                                />
                                <span class="field-info">{{ forms.login.errors.email }}</span>
                            </div>
                            <div class="input-field">
                                <input
                                    placeholder="Password"
                                    type="password"
                                    name="password"
                                    autocomplete="on"
                                    pattern=".{1,}"
                                    title="Password is required."
                                    v-model="forms.login.fields.password"
                                />
                                <span class="field-info">{{ forms.login.errors.password }}</span>
                            </div>
                            <div class="input-field input-remember">
                                <label class="checkbox-wrap"> Remember me
                                    <input
                                        type="checkbox"
                                        v-model="forms.login.fields.remember"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="form-tab register-form-tab" v-show="status.tab === 2">
                        <form class="register-form" ref="register" method="post" accept-charset="UTF-8">
                            <h1 class="form-title">Register</h1>
                            <div class="input-field">
                                <div class="input-status-wrapper" v-bind:class="{ 'invalid' : forms.register.errors.email }">
                                    <input
                                        placeholder="Email"
                                        type="email"
                                        name="email"
                                        autocomplete="on"
                                        v-model="forms.register.fields.email"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        required
                                    />
                                    <div class="input-status">
                                        <!--<i v-show="forms.register.status.check_email" class="fas fa-circle-notch fa-spin"></i>-->
                                    </div>
                                </div>
                                <span class="field-info">{{ forms.register.errors.email }}</span>
                            </div>
                            <div class="input-field">
                                <div class="input-status-wrapper" v-bind:class="{ 'invalid' : forms.register.errors.username }">
                                    <input
                                        placeholder="Username"
                                        type="text"
                                        name="username"
                                        autocomplete="off"
                                        pattern="^((?:\s*[A-Za-z0-9._]\s*){3,})$"
                                        v-model="forms.register.fields.username"
                                        title="Please do not use unsupported characters."
                                        required
                                    />
                                    <div class="input-status">
                                        <!--<i v-show="forms.register.status.check_username" class="fas fa-circle-notch fa-spin"></i>-->
                                    </div>
                                </div>
                                <span class="field-info">{{ forms.register.errors.username }}</span>
                            </div>
                            <div class="input-field-group">
                                <div class="input-field">
                                    <input v-bind:class="{ 'invalid' : forms.register.errors.password }"
                                        placeholder="Password"
                                        type="password"
                                        name="password"
                                        autocomplete="off"
                                        v-model="forms.register.fields.password"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                        required
                                    />
                                    <span class="field-info">{{ forms.register.errors.password }}</span>
                                </div>
                                 <div class="input-field">
                                    <input
                                        placeholder="Repeat Password"
                                        type="password"
                                        name="password_repeat"
                                        autocomplete="off"
                                        v-model="forms.register.fields.password_repeat"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                        required
                                    />
                                    <span class="field-info">{{ forms.register.errors.password }}</span>
                                 </div>
                             </div>
                        </form>
                    </div>
                </div>
                <div class="form-tab-navigation">
                    <button
                        v-bind:class="{ 'inactive' : (status.tab === 2) }"
                        v-on:click="switchOrSubmit('login')">LOGIN</button>
                    <button
                        v-bind:class="{ 'inactive' : (status.tab === 1) }"
                        v-on:click="switchOrSubmit('register')">REGISTER</button>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>

    <script>

        (function($, Vue){

            var app = new Vue({
                el: '#auth-area',
                data: function () {
                    return {
                        delay: 2000,
                        status : {
                            tab: 1,
                            loading: false,
                            info: '',
                            login: {
                                onStart : 'Logging in.',
                                onSuccess : 'Logged in, now redirecting.',
                                onError   : 'Login failed.'
                            },
                            register: {
                                onStart : 'Registering.',
                                onSuccess : 'Registered.',
                                onError   : 'Failed to register.'
                            },
                        },
                        forms: {
                            register: {
                                action: '/postRegister',
                                errors: { email : null, username : 'Foo', password : null },
                                fields: {
                                    email: '',
                                    username: '',
                                    password: '',
                                    password_repeat: ''
                                }
                            },
                            login: {
                                action: '/postLogin',
                                errors: {

                                },
                                fields: {
                                    email: 'sno@sno.com',
                                    password: 'admin',
                                    remember: true
                                }
                            },
                        }
                    }
                },
                watch: {
                    'status.tab' : function( v )
                    {
                        $($('.form-tabs').children()[v-1]).css('opacity', 0).fadeTo(350 , 1);
                    },
                    'status.loading' : function( v )
                    {
                        $('.form-status-overlay').css('opacity', (v === true ? 0 : 1)).fadeTo(600 , (v === true ? 1 : 0));
                    }
                },
                methods: {
                    onSubmitForm( name )
                    {
                        this.status.loading = true;
                        this.status.info = this.status[name].onStart;

                        setTimeout(function()
                        {
                            $.post(this.forms[name].action, this.forms[name].fields)
                                .then(
                                    function( response )
                                    {
                                        this.status.info = this.status[name].onSuccess;
                                        setTimeout(function() { window.location.replace("/home"); }.bind(this), this.delay);
                                    }
                                    .bind(this)
                                )
                                .catch(
                                    function(error)
                                    {
                                        this.status.info = this.status[name].onError;
                                        setTimeout(function(){ this.status.loading = false; }.bind(this), this.delay + 3000 );
                                    }
                                    .bind(this)
                                )
                            ;
                        }
                        .bind(this), this.delay );
                    },
                    switchOrSubmit( name )
                    {
                        if(this.status.tab === 2 && name === 'login') return this.status.tab = 1;
                        if(this.status.tab === 1 && name === 'register') return this.status.tab = 2;

                        $(this.$refs[name]).on('submit', function( event )
                        {
                            event.preventDefault();
                            event.target.checkValidity() ? this.onSubmitForm( name ) : event.target.reportValidity();
                        }
                        .bind(this)).submit();
                    }
                }
            });

        }( jQuery, Vue ));

    </script>

{% endblock %}
