{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full top-sponsor-row">
        {% include 'widget.sponsor.inline.html.twig'
            with {
            items: {
                'corsair'      : 'https://cdn.worldvectorlogo.com/logos/corsair-2.svg',
                'razer'        : 'https://seeklogo.com/images/R/razer-logo-B4E375B409-seeklogo.com.png',
                'steelseries'  : 'http://cerebral-overload.com/wp-content/uploads/2017/11/Steelseries-Logo.png',
            },
            limit: null,
            class: 'widget-sponsor-top'
        }
            only
        %}
    </div>
    <div class="container-full">
        <div class="container">
            <article class="widget-featured-news">
                <div class="box article-hl-box box-shadow box-background box-rect">
                    <div
                        class="box-head-image"
                        style="background-image: url({{ hlArticles.getModel(0).getArticleImage() }})"></div>

                    <div class="box-body">
                        ID {{ hlArticles[0].title }}
                    </div>
                </div>

                <div class="box article-hl-box box-shadow box-background box-square">
                    <div
                    class="box-head-image"
                    style="background-image: url({{ hlArticles.getModel(0).getArticleImage() }})"></div>

                    <div class="box-body">
                        ID {{ hlArticles[1].id }}
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="container-full" style="background: black">
        <div class="container">
            <article class="widget-last-news">
                <div class="box">
                    {% for article in lastArticles.getModels() %}
                        <div class="small-article">id: {{ article.getId() }}</div>
                    {% endfor %}
                </div>
                <div class="box article-hl-box box-shadow box-background" style="width: 400px">
                    <div class="box-body">

                    </div>
                </div>
            </article>
            <article class="widget-featured-any">
                ft-any
            </article>
        </div>
    </div>
    <div class="container">
        <article class="widget-featured-team">
            ft-team
        </article>
    </div>
{% endblock %}