{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full route-container" id="route-view-squad-view">
    <div class="container-full route-header squad-view-route-header">
        <span>
           <h1 class="title bg-text uc-text">{{ squad.getName() }}</h1>
        </span>
       <div class="bg-image bg bg-centered bg-cover bg-grayed" style="background-image: url({{ squad.requestHeaderImage() }})"></div>
    </div>
    <div class="container-full squad-players-container-full">
        <h2 class="route-section-header">PLAYERS</h2>
        <div class="container member-list-container" id="member-list">

            {% for mk, member in squad.getMembers() %}
                <article class="member bg-dark round-2 box-shadow-1">
                    <div class="avatar" style="background-image: url({{ member.requestHomeAvatar() }})">
                        <div class="nameplate box-shadow-1">{{ member.formatName() }}</div>
                    </div>
                    <div class="details">
                        <h3 class="position">{{ member.getPosition() }}</h3>
                        <div class="country"><img src="{{ member.getUser().getCountry().smallFlag() }}"> {{ member.getUser().getCountry().getName() }}</div>
                        <p class="paragraph low-p">{{ member.getDesc() }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
    <!-- matches / events -->
    <section id="home-matches-events" class="container-full">
        <div class="section-header" style="text-align: center;">
            <h2 class="route-section-header">ACTIVITY</h2>
        </div>
        <div class="container section-content">
            <div class="matches bg-dark round-2 box-shadow-1">
				{% include 'route.view.home.matches.html.twig' with { items: matches.getModels() } only %}
            </div>
            <div class="events bg-dark round-2 box-shadow-1">
				{% include 'route.view.home.events.html.twig' with { events : events.getModels() } only %}
            </div>
        </div>
    </section>

    
    {#
    <div class="container-full squad-players-container-full">
        <h2 class="route-section-header">LAST MATCHES</h2>
        <div class="container member-list-container" id="member-list">
            LM
        </div>
    </div>
    #}
</div>

{% endblock %}
