<a class="image bg bg-centered bg-cover" href="/article/read/{{ article.title_seo }}" style="background-image: url({{ article.headline_image }})"></a>
<div class="body">
    <h1 class="title ellipsis">{{ article.title }}</h1>
    <div class="teaser">
        <p class="paragraph big-p">{{ article.teaser }}</p>
    </div>
    <div style="text-align: right;">
        <a href="/article/read/{{ article.title_seo }}" class="more-button outlined uc-text">Read More &raquo;</a>
    </div>
</div>