{% extends 'block.full.html.twig' %}

{% block content %}

<div id="route-view-home" class="container-full">
    {% if Config.get('page_show_sponsors_top') == 1 %}
    <section id="home-partners-top" class="container-full section-content bg-dark">
            {% include 'widget.sponsor.inline.html.twig'
                with {
                collection: partnersTop,
                limit: 4,
                class: 'widget-sponsor-top'
                }
                only
            %}
    </section>
    {% endif %}

    {% if articles.hl and articles.hl|length > 1 %}
    <!-- top news -->
    <section id="home-headlines" class="container-full">
        <div class="section-header">
            <h1>HEADLINES</h1>
        </div>
        <div class="container section-content">
            <article class="container primary-headline pad-default bg-light box-shadow-1 round-2">
                {% include 'route.view.home.headline.primary.html.twig' with { article : articles.hl[0] } only %}
            </article>
            <article class="container secondary-headline pad-default bg-light box-shadow-1 round-2">
                {% include 'route.view.home.headline.secondary.html.twig' with { article : articles.hl[1] } only %}
            </article>
        </div>
    </section>
    {% endif %}
    <!-- last news -->
    <section id="home-last-articles" class="container-full bg bg-dark">
        <div class="section-header">
            <h1>LAST NEWS</h1>
        </div>
        <div class="container section-content">
            <div class="container last-article-list">
				{% for lastArticle in articles.lt %}
                <div class="bg-light pad-default box-shadow-1 round-2">
                    <h1 class="title ellipsis"><a href="/article/read/{{ lastArticle.title_seo }}" class="a-dark">{{ lastArticle.title }}</a></h1>
                    <div class="teaser">
                        <p class="paragraph low-p">{{ lastArticle.teaser }}</p>
                    </div>
                    <a class="more-button outlined uc-text" href="/article/read/{{ lastArticle.title_seo }}">read more &raquo;</a>
                </div>
                {% endfor %}
            </div>
            <div class="container featured-content">
                <div class="wrapper bg-light box-shadow-1 round-2 pad-default">
                    <div class="image bg bg-centered bg-contain" style="background-image: url({{ featuredItem.image }})"></div>
                    <div class="body">
                        <h1 class="title ellipsis"><a class="a-dark ellipsis" href="/product/{{ featuredItem.id }}">{{ featuredItem.name }}</a></h1>
                        <div class="footer">
                            <span class="price">{{ featuredItem.teaser }}</span>
                            {{ featuredItem.button_next|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- matches / events -->
    <section id="home-matches-events" class="container-full">
        <div class="section-header">
            <h1>ACTIVITY</h1>
        </div>
        <div class="container section-content">
            <div class="matches bg-dark round-2 box-shadow-1">
				{% include 'route.view.home.matches.html.twig' with { items: matches.getModels() } only %}
            </div>
            <div class="events bg-dark round-2 box-shadow-1">
                {% include 'route.view.home.events.html.twig' with { events : ltEvents.getModels() } only %}
            </div>
        </div>
    </section>

    {% if trendingSquad %}
    <!-- members -->
    <section id="home-members" class="container-full bg bg-dark">
        <div class="section-header">
            <h1>MEET AVENUE</h1>
        </div>
        <div class="container section-content">
            {% include 'route.view.home.members.html.twig' with { squad : trendingSquad } only %}
        </div>
    </section>
    {% endif %}
</div>

{% endblock %}