{% extends 'block.full.html.twig' %}

{% block content %}
<div class="container-full route-container" id="route-view-article-read">
    <div class="container-full route-header article-read-route-header" style="background-image: url(static/images/route_header.jpg)">
        <span><h1 class="title uc-text bg-text">{{ article.title }}</h1></span>
    </div>
    <div class="container">
        <div class="container bg-light round-2 box-shadow-1 mar-btm-default article-read-container" id="article-read">
            <article class="article-content bg-light pad-2x">
                <h3 class="teaser">
                    {{ article.teaser }}
                </h3>
                <br>
                <div class="big-p" style="position: relative !important; overflow: hidden !important;">
                    {{ article.content|raw }}
                </div>
            </article>
        </div>
        
        <div class="container bg-light round-2 box-shadow-1 mar-btm-default pad-2x">
            <div style="display: flex; align-items: center; align-content: center;">
                <div class="profile-picture" style="background-image: url({{ poster.requestProfilePicture() }})"></div>
                <div>
                    &nbsp;{{ poster.getFirstName() }}&nbsp;<span style="color: orange">{{ poster.getUserName() }}</span>&nbsp;{{ poster.getLastName() }}
                </div>
            </div>
        </div>
        
        {% if (article.comments_enabled == true ) %}
        <h1 class="route-section-header">COMMENTS</h1>
        <div class="container bg-light pad-default round-2 box-shadow-1 article-comments-container" id="article-comments">
            {% include 'widget.comments.html.twig' with { comments : comments, model : 'article' , model_id : article.id } %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
