{% extends 'block.full.html.twig' %}

{% block content %}


<div class="container-full route-container" id="route-view-product-view">
	<div class="container-full route-header product-view-route-header">
		<div class="body">
			<div class="container product-view-header-container">
				<h2 class="title">{{ product.name }}</h2>
			</div>
		</div>
		<div class="bg-image" style="background-image: url(static/images/route_header.jpg)"></div>
	</div>
    <div class="container product-view-container" id="product-view">
        <div class="product">
			{% verbatim %}
            <div class="product-gallery">
				<div class="product-photo" v-on:click="openAsCurrent" v-bind:data-id="key" v-for="(url, key) in gallery.images" v-bind:style="{ backgroundImage: 'url('+url+')' }"></div>
            </div>
            {% endverbatim %}
			{%  verbatim %}
            <div class="product-desc">
                <div class="name">{{ product.name }}</div>
                <div class="price">{{ product.price }}{{ product.currency }}</div>
                <div class="stock">{{ product.in_stock }} left in stock</div>
                <div class="description" v-if="product.desc"><p>{{ product.desc }}</p></div>
                <div class="buy">
                    <div v-on:click="form.show = !form.show" class="button button-primary buy-button">BUY NOW!</div>
                </div>
                <div class="order-details" v-show="form.show">
                    <form class="paypal" action="paypal/paymentRequest" method="post" id="paypal_form" target="_blank">
                        <input type="hidden" name="cmd" value="_xclick" />
                        <input type="hidden" name="no_note" value="1" />
                        <input type="hidden" name="item_name" value="{{ product.name }}" v-bind:value="product.name" />
                        <input type="hidden" name="amount" value="{{ product.price }}" v-bind:value="product.price" />
                        <input type="hidden" name="currency_code" value="{{ product.currency }}" v-bind:value="product.currency" />
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" />
                        <input type="hidden" name="first_name" value="Foo"  />
                        <input type="hidden" name="last_name" value="Bar"  />
                        <input type="hidden" name="item_number" value="{{ product.id }}" v-bind:value="product.id"/>
                        <div class="order-summary">
                            <div class="input-field">
                                <input v-on:keydown.enter.prevent="" type="number" name="quantity" value="1" v-model="form.quantity"/>
                            </div>
                         
                            <span class="total">
                                {{ product.price * form.quantity }} {{ product.currency }}
                            </span>
                            
                        </div>
                        <div class="checkout-area">
                            <button class="button button-primary checkout-button" v-on:click.prevent="submitForm" v-bind:disabled="form.lock">
                                <i class="fab fa-paypal" style="font-weight: normal !important;"></i> PAYPAL CHECKOUT
                            </button>
                        </div>
                        <input type="hidden" name="token" v-bind:value="token">
                    </form>
                </div>
            </div>
			{%  endverbatim %}
        </div>
		
        {% verbatim %}
        <modal v-if="gallery.show" v-bind:width="'1000px'" v-bind:height="'600px'" class="gallery-modal" v-on:close="gallery.show = false" v-bind:loading="null" v-bind:loading-message="null" id="modal-product-gallery">
            <div slot="header">
                <h2>{{ product.name }}</h2>
            </div>
            <div slot="body" class="gallery-holder">
				<div class="prev" v-on:click="prev()">
					<i class="fa fa-4x fa-angle-left"></i>
				</div>
				<div class="currentImageHolder">
					<div class="currentImage"
					  v-show="gallery.currentImage == key"
					  v-for="(image, key) in gallery.images"
					  v-bind:style="{ 'background-image': 'url(' + image + ')' }"></div>
				</div>
				<div class="next" v-on:click="next()">
					<i class="fa fa-4x fa-angle-right"></i>
				</div>
            </div>
        </modal>
        {% endverbatim %}
    </div>
	
	<div class="container product-comments-container" id="product-comments">
		{% include 'widget.comments.html.twig' with { comments : comments, model : 'product' , model_id : product.getId() } %}
	</div>
</div>

<script>

	
</script>

{% include 'vue.component.modal.html.twig' with { width: '1004px' } %}

<script>

    $(document).ready(function(){

        (function($, Vue){

	        var __PRODUCT__ = {% autoescape false %}{{ product.getFormatted()|json_encode }}{% endautoescape %};
	        var __IMAGES__ = {% autoescape false %}{{ product.getImageCollection().getUrlArray()|json_encode }}{% endautoescape %};

        	new Vue({
              el: "#product-view",
			  components: ['comments'],
              data: function(){
              	return {
              		token : "{{ token }}",
                    product: __PRODUCT__,
                    gallery: {
                    	currentImage : 0,
                        show : false,
	                    images : [],
                    },
                    form: {
                    	show : false,
	                    lock : false,
                        quantity: 1
                    }
                }
              },
              methods : {
	            submitForm: function(e)
                {
                	if(this.form.lock) return e.preventDefault();
	                $('#paypal_form').submit();
                },
                next : function()
                {
	            	if(this.gallery.currentImage + 1 < this.gallery.images.length)
	            	{
			            this.gallery.currentImage++;
                    }
                    else
                    {
			            this.gallery.currentImage = 0;
                    }
                },
	            prev : function()
                {
	                if(this.gallery.currentImage === 0)
	                {
		                this.gallery.currentImage = this.gallery.images.length - 1;
	                }
	                else
	                {
		                this.gallery.currentImage--;
	                }
	            },
	              openAsCurrent : function(event)
	              {
		              this.gallery.currentImage = event.target.getAttribute('data-id') ? event.target.getAttribute('data-id') : 0;
		              this.gallery.show = true
	              }
              },
              watch: {
              	'form.quantity': function(val)
                {
	                this.form.lock = function(val)
	                {
                        return (typeof val === 'undefined' || val === null || val === '');
	                }
		            .call(this, val);

	                if(parseInt(val) === 0) this.form.quantity = 1;
                },
              },
              created : function()
              {
	              this.gallery.images = $.map(__IMAGES__, function(value, index) {
		              return value;
	              });
              }
            });

        }(jQuery, Vue))

    });

</script>

{% endblock %}
