
{% verbatim %}
 <!-- comments -->
 <div id="comments">
  <comment-tree v-bind:level="0" v-bind:comments="comments"></comment-tree>
</div>
<script type='x-template' id='template-comment-tree'>
    <div class="comment-tree">
        <comment-tree-item
            v-if="index < limit"
            v-for="(comment,index) in model"
            v-bind:key="comment.id"
            v-bind:level="level"
            v-bind:comment="comment"
            class="comment"></comment-tree-item>

        <div class="footer" v-if="comments.length > limit">
            <button v-on:click="showMore" class="showMore">
                {{ limit === 0 ? 'Show Replies (' + comments.length + ')' : 'Show More'}}
            </button>
        </div>
    </div>
</script>

<script type='x-template' id='template-comment-tree-item'>
    <div class="comment">
        <div class="content">

            <div class="user-picture" v-bind:style="{ backgroundImage: 'url(' + data.profile_picture + ')' }"></div>
            <div class="body">
                <p><a class="username">{{ data.username }}&nbsp;</a>{{ data.text }}</p>
                <div class="controls">
                    <div class="reply-trigger">
                        <span v-on:click="replyForm.show = !replyForm.show">Reply</span>
                        <span v-if="hasChildren()" v-on:click="showReplies = !showReplies">
                            {{ showReplies ? 'Hide Replies' : 'Show Replies' }}
                        </span>
                    </div>
                    <div class="reply-form" v-if="replyForm.show">
                        <input class="reply-input" v-model="replyForm.text" type="text" placeholder="Write your reply..">
                        <button v-bind:disabled="replyForm.text.length === 0" v-on:click="newReply()">Post Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <comment-tree
            v-show="hasChildren && showReplies"
            v-bind:level="level + 1"
            v-bind:comments="data.ch"></comment-tree>
    </div>
</script>

{% endverbatim %}

<script type="text/javascript">

	(function($, Vue){

		var __COMMENTS__ = {% autoescape false %}{{ comments }}{% endautoescape %};
		// level n -> limits[n]
		var __LIMITS__ = [ 100, 20, 10, 5 ];

		var EventBus = new Vue();

		Vue.component('comment-tree', {
			template: '#template-comment-tree',
			props: ['comments', 'level'],
			data: function () {
				return {
					limit : 0,
					model: []
				}
			},
			created: function(){
				this.model = this.comments;
				this.limit = this.levelLimit;
			},
			methods: {
				showMore: function(){
					this.limit+=2;
				},
			},
			computed: {
				levelLimit: function(){
					return __LIMITS__[this.level] ? __LIMITS__[this.level] : this.limit;
				}
			},
			watch: {
				comments: function( val ){
					this.model = val;
				}
			}
		});

		Vue.component('comment-tree-item', {
			template: '#template-comment-tree-item',
			props: ['comment','level'],
			data: function () {
				return {
					data: {
						ch: []
					},
					showReplies: true,
					replyForm: {
						show: false,
						text: '',
					}
				}
			},
			created: function(){
				this.data = Object.assign(this.data, this.comment);
			},
			watch: {
				comment: function ( val ) {
					this.data = Object.assign(this.data, val);
				},
			},
			methods: {
				hasChildren: function(){
					return this.data.ch.length > 0;
				},
				newReply: function()
				{
					if(!this.replyForm.text) return false;

					var data = { pid: this.data.id, text: this.replyForm.text };

					EventBus.$emit('postComment', data, function( response ){
						if(response){
							this.data.ch.unshift(response);
							this.$emit('newReply', response);
							this.replyForm.text = '';
							this.$forceUpdate();
						}
					}.bind(this));
				}
			}
		});

		var app = new Vue({
			components: ['comment-tree', 'comment-tree-item'],
			el: '#comments',
			data: function () {
				return {
					comments: __COMMENTS__,
				}
			},
			methods: {
				postComment: function(){

				},
				syncComments:function()
				{
					/*
                    $.post('/syncComments', { } ).then(function(response){
                        this.comments = response;
                    }.bind(this));
                    */

				}
			},
			created: function()
			{
				setInterval(function(){ this.syncComments(); }.bind(this), 20000);

				EventBus.$on('postComment', function ( data, cb ) {

					data.article_id = 10;

					$.post('/article/postComment', data ).then( function( response ){
						cb(response);
					}).catch(function(error){
						cb(false);
					});
				});
			}
		});

	}(jQuery, Vue));
</script>
