<div class="flex-box">
    <div class="fbi fbi-wide article-item">
        <div class="image" style="background-image: url({{ articles[0].headline_image }})">
            <div class="mask"></div>
        </div>
        <div class="body">
            <h2 class="title title-large">
                <a href="/article/read/{{ articles[0].title_seo }}">{{ articles[0].title }}</a>
            </h2>
            <div class="info">{{ articles[0].activation_time|date('d M Y') }}</div>
            <p class="teaser paragraph big-p">{{ articles[0].teaser }}</p>
            <div class="footer">
                <a class="more-button uc-text" href="/article/read/{{ articles[0].title_seo }}">Read More</a>
            </div>
        </div>
    </div>
    <div class="fbi fbi-tall article-item">
        <div class="image" style="background-image: url({{ articles[1].headline_image }})">
            <div class="mask"></div>
        </div>
        <div class="body">
            <h2 class="title">
                <a href="/article/read/{{ articles[1].title_seo }}">{{ articles[1].title }}</a>
            </h2>
            <p class="teaser paragraph big-p">{{ articles[1].teaser }}</p>
            <div class="footer">
                <a class="more-button uc-text" href="/article/read/{{ articles[1].title_seo }}">Read More</a>
            </div>
        </div>
    </div>
</div>