
{% set limit = ( limit ? limit : 4 ) %}

<article class="container sponsor-inline-container {{ class }}">

    {% for key,partner in collection.getModels() if limit > 0 %}

        <a href="{{ partner.getWebsiteUrl() }}" target="_blank" class="sponsor sponsor-{{ key }}"
                title="{{ partner.getName() }}"
                style="background-image: url('{{ partner.requestLogo() }}')">
        </a>

        {% set limit = limit - 1 %}

    {% endfor %}

</article>
